:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}

body {

}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(45, 16, 16);
    -webkit-text-stroke: 1px black;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #00512d;
    margin-bottom: 5rem;
    -webkit-text-stroke: 1px black;
    /*adicionado o position relative devido a opacidade da imagem de fundo*/
    position: relative;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}
h3 {
    font-size: 2.8rem;
    font-weight:  500;
}

/* Utilities */
.container {
    width: 100vw;
    height: 100vh;
    /* oq permite centralizar de forma horizontal e vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    /* esse padding dá um pouco de espaço no caso da tela estar pequena*/
    padding: 2rem;
}

.container > * {
    width: 100%;
}

/*criado o child element abaixo para permitir a opacidade da imagem de fundo*/
.container::before{
    content: "";
    background: url("mapa.jpeg") no-repeat center fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.5;
}

/* muda para eixo vertical, ao invés do default horizontal */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */
.button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #704d3a;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #704d3a;
    background-color: white;
    /*alterada a position to relative, devido a opacidade da imagem de fundo*/
    position: relative;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(112, 77, 58, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Forms */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(112, 77, 58, 0.5);
}

input::placeholder {
    color: #ccc;
    -webkit-text-stroke-width: 0;
}